{% extends 'userguides/base.html' %}{% load profiles_tags %}{% load thumbnail %}{% load markup %}

{% block content %}


	<div class="row clearfix">
		<div class="col-md-12 column">
		{% for topic in topics %}
		   {% if forloop.last %}

                   <div class="hr-line"><br></div>
		   {%comment%}<hr style="margin:10px; padding-bottom:40px; border:0; border-top:10px dotted #408BCA; type: circle;" />{% endcomment %}
		
                   {% endif %}
                   
                   {% if forloop.first %} <div class="backgroundimage" >{% endif %}
			<h3 class="text-center" style="padding-top:20px;">
				{{topic.title|markdown}}
			</h3>
                        {% if forloop.first %}
			<div class="about-first">
				{{topic.description|markdown}}
			</div>
                        {% else %} {{topic.description|markdown}}
                        {% endif %}
                   
			<div class="row clearfix topic-footer">
			    {% for post in topic.get_Post %}
				<div class="col-md-3 column">
					<h2 class="post-header">
						<img src="{{ MEDIA_URL }}{{ post.icon }}" height="20px" style="margin-top:-10px;"> {{post.post_title}}
					</h2>
					<p>
						{{post.get_Text|markdown}}
					</p>
					<p>
						<a id="modal-425571" href="#modal-container-{{post.id}}" role="button" class="btn" data-toggle="modal">View details »</a>
						    <div class="modal fade" id="modal-container-{{post.id}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="myModalLabel">
								                        {{post.post_title}}
                                                </h4>
                                        </div>
                                        <div class="modal-body">
							                {{post.description|markdown}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
					</p>
				</div>
				{% endfor %}
		    </div>		
		{% if forloop.first %}</div>{% endif %}
	    {% endfor %}
		</div>
	</div>




{% endblock %}

