{% extends "base.html" %}{% load markup %}{% load profiles_tags %}

{% block title %}{{ flatpage.title }}{% endblock %}
{% block content %}

    <div class="row hidden-print">
        {% data_domains None data_domain %}
    </div>
    <div class="row">
        <div class="col-md-2" id="flatpage-fp-list">
            {% get_all_flatpages flatpage.id %}    
        </div>
        <div class="col-md-10">
        <h1>{{ flatpage.title }}</h1>
        {{flatpage.content|markdown:"safe"}}
        </div>
    </div>
{% endblock %}
