{% extends "account/base.html" %}

{% block title %}Password reset | {{ block.super }}{% endblock %}

{% block content %}

<section id="password_reset_confirm">
  {% if validlink %}

  <h2>Enter new password</h2>
  <form method="POST">
    {% csrf_token %}

    <p>
      Please enter your new password twice so we can verify
      you typed it in correctly.
    </p>

    {{ form.non_field_errors }}

    <ul>
      <li>
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </li>

      <li>
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </li>
    </ul>

    <div class="form-actions">
      <input type="submit" value="Change my password" />
    </div>

    <script type="text/javascript">document.getElementById("id_new_password1").focus();</script>

  </form>

{% else %}

<h2>Password reset unsuccessful</h2>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</section>

{% endblock %}

